body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#yatzy-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 90px;
}

#score {
   font-family: 'Bebas Neue', sans-serif;
   font-size: 50px;
   margin-top: 15px;
}

#roll-result {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#turn-info {
    margin-top: 10px;
    font-size: 20px;
}

.die {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.die:hover {
    background-color: darkgray;
}

.die.selected {
    background-color: rgb(18, 171, 102);
    color: white;
}

#roll-dice {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#roll-dice:hover {
    background-color: #0358b2;
}

#roll-dice.disabled {
    cursor: default;
    opacity: 0.5;
}

.score-column {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 50px;
}

.score-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.score-name {
    font-size: 18px;
    margin-right: 10px;
    width: 100px;
    text-align: right;
    white-space: nowrap;
}

.score-box {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.score-box:hover {
    background-color: darkgray;
}

.score-box.disabled {
    cursor: default;
    pointer-events: none; 
    opacity: 0.5; 
    background-color: rgb(18, 171, 102);
}

.bottom-row-container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.bottom-row {
    margin-bottom: 10px;
    margin-right: 20px;
}

#button-reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f33232;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}